REACT_APP_RAPID_API_KEY=YOUR RAPID API KEY HERE

REACT_APP_CMC_API_KEY=YOUR COINMARKETCAP API KEY HERE

//  create your free API key on https://min-api.cryptocompare.com/ for REACT_APP_RAPID_API_KEY
//  create your free API key on https://coinmarketcap.com/api/ for REACT_APP_CMC_API_KEY
// replace your API Key just above
// and rename this folder '.env'

// run 'npm run start'
// it will run the front and the backend
